<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
  <title>地图显示</title>
  <style>
    html,
    body,
    #container {
      width: 400px;
      height: 400px;
    }

  </style>
</head>

<body>
  <button onclick="download()">download</button>
  <div id="container"></div>
  <!-- 加载地图JSAPI脚本 -->
  <script src="https://webapi.amap.com/maps?v=1.4.15&key=fd7ec562b4c3e112651a2185ea302d4c"></script>
  <script>
    devicePixelRatio = 2
    var map = new AMap.Map('container', {
      resizeEnable: true, // 是否监控地图容器尺寸变化
      zoom: 11, // 初始化地图层级
      center: [116.397428, 39.90923] // 初始化地图中心点
    })

  </script>
</body>
<script>
  function download() {
    console.log(document.getElementsByTagName('canvas')[0].toDataURL())
  }

</script>

</html>
